@model IEnumerable<Twotable_cba.Models.Student>

@{
    ViewBag.Title = "StudentList";
}s

<h2>StudentList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Department Id")
        </th>
        <td>
            @Html.Label("Dname")
        </td>
        <th>
            @Html.DisplayNameFor(model => model.Sname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spassword)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Departments_Did)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Department.Dname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spassword)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateStudent", new { Sid = item.Sid, Sname = item.Sname, Semail = item.Semail, Spassword = item.Spassword, Departments_Did = item.Departments_Did }) |
            @Html.ActionLink("Details", "Details", new { id = item.Sid }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Sid })
        </td>
    </tr>
}

  

</table>
