@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    <li>@ViewBag.OnAuthorization</li>
    <li>@ViewBag.OnActionExecuting</li>

    <li>@ViewBag.OnActionExecuted</li>
    <li>@ViewBag.OnException</li>
    <li>@ViewBag.OnResultExecuting</li>

    <li>@ViewBag.OnResultExecuted</li>
</ul>