@model ModelDemo.Models.Company
@{
    ViewBag.Title = "Index";
}

<h3>Comapny</h3>
<div>@Model.Cid</div>
<dib>@Model.Cname</dib>
<br />


<h3>Student</h3>
<div>@Model.Student.Id</div>
 
<div>@Model.Student.Name</div>
 
<div>@Model.Student.Email</div>

<h3>Department</h3>
<div>@Model.Department.Did</div>
 
<div>@Model.Department.Address
</div><br />




