@model List<EntityDemo.Models.Student>
@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>
<div class="row">
    @foreach (var i in Model)
    {

       <tr>
           <td>@i.Sname</td>
           <td>@i.Sid</td>
           <td>@i.Semail</td>
           <td>@i.Spassword</td>
           <td>@i.Departments_Did</td>
       </tr>
       <br />

    }
</div>
