@model IEnumerable<Shopping_Website_UI.Models.CartDetails>

@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_Buyer.cshtml";
}

<h2 class="headingtxt">OrderDetails</h2>





@foreach (var item in Model)
{
    Decimal i = 0,sum=0;
    i = Convert.ToDecimal(@item.Price * @item.Quantity);
    i = i * Convert.ToDecimal(@item.Discount) / 100;
    sum += Convert.ToDecimal(@item.Price * @item.Quantity) - i;

    <div class="row formtxt" style="margin:10px;">
        <div class="col-md-4">
            <div class="col-md-5 offset-md-4">
                <img src="@item.Imageurl" class="card-img-top" alt="Ordered product" style="width:180px;height:230px;" />
            </div>

        </div>
        <div class="col-md-5">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name : @item.Name</li>
                <li class="list-group-item">Size : @item.Size</li>
                <li class="list-group-item">Quantity : @item.Quantity</li>
                <li class="list-group-item">Discount : @item.Discount</li>
                <li class="list-group-item">Price : @item.Price</li>


            </ul>
        </div>

        <div class="col-md-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Quantity * Item - Discount</li>
                <li class="list-group-item">@item.Quantity * @item.Price - @item.Discount</li>
                <li class="list-group-item"><b>Total Price = @sum</b></li>



            </ul>
        </div>
    </div>





}

